Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

Update UI Style
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

update slide ppt
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

feat: sync dev changes, upgrade PPT engine, add wahaScheduler, and unify docker-compose
  client/src/App.jsx
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  docker-compose.yml
  server/Dockerfile
  server/middleware/auth.js
  server/models/Bot.js
  server/models/User.js
  server/routes/admin.js
  server/routes/auth.js
  server/routes/chat.js
  server/server.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/pptx.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  client/src/components/ChatMessage.jsx
  server/services/ai-core.service.js
  server/services/knowledge-base.service.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  client/nginx/default.conf
  docker-compose.yml
Due: build_client, deploy_client

[ci skip]
  docker-compose.yml
Due: none

[ci skip]
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

[ci skip]
  server/services/ai-core.service.js
Due: build_server, deploy_server

[ci skip]
  client/src/components/ChatMessage.jsx
  client/src/components/WahaConfigSection.jsx
  server/models/Bot.js
  server/routes/chat.js
  server/services/ai-provider.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

[ci skip]
  client/src/components/AdminDashboard.jsx
  client/src/components/ChatMessage.jsx
  client/src/components/WahaConfigSection.jsx
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

[ci skip]
  client/src/components/AdminDashboard.jsx
  client/src/components/WahaConfigSection.jsx
  server/models/Bot.js
  server/models/WahaConversation.js
  server/routes/admin.js
  server/routes/webhook.js
  server/server.js
  server/services/waha.service.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  server/routes/webhook.js
Due: build_server, deploy_server

[ci skip]
  server/routes/admin.js
Due: build_server, deploy_server

[ci skip]
  client/src/components/ChatMessage.jsx
  server/routes/pptx.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  client/src/components/ChatMessage.jsx
  server/routes/pptx.js
  server/services/knowledge-base.service.js
Due: build_server, build_client, deploy_server, deploy_client

[ci skip]
  server/routes/pptx.js
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

[ci skip]
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

[ci skip]
  server/routes/chat.js
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

[ci skip]
  server/check-files.js
  server/cleanup-reports.js
  server/clear-chats.js
  server/fetch-smartsheet.js
  server/services/dashboard-screenshot.service.js
  server/services/smartsheet-context.service.js
  server/services/smartsheet-json.service.js
  server/test-dashboard.js
  server/test-env-ldap.js
  server/test-puppeteer.js
  server/test-sheet-id.js
  test-file-access.sh
Due: build_server, deploy_server

[ci skip]
  server/services/ai-core.service.js
  server/services/pptx-template.service.js
Due: build_server, deploy_server

[ci skip]
  server/services/pptx-template.service.js
Due: build_server, deploy_server

[ci skip]
  server/services/ai-provider.service.js
Due: build_server, deploy_server

[sesuaikan bot]
  server/routes/pptx.js
  server/services/ai-core.service.js
Due: build_server, deploy_server

[ci skip]
  server/routes/chat.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

[ci skip]
  server/routes/webhook.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

[ci skip]
  server/services/onedrive.service.js
Due: build_server, deploy_server

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
