Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

.gitlab-ci.yml:

variables:
  # --- KONFIGURASI UMUM ---
  GIT_CLONE_PATH: '$CI_BUILDS_DIR/$CI_CONCURRENT_ID/project-portal-ai'
  GIT_CLEAN_FLAGS: -ffdx -e data/
  GIT_DEPTH: "0"

  # --- DOCKER IMAGES ---
  SERVER_IMAGE: $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHORT_SHA
  SERVER_IMAGE_LATEST: $CI_REGISTRY_IMAGE/server:latest
  CLIENT_IMAGE: $CI_REGISTRY_IMAGE/client:$CI_COMMIT_SHORT_SHA
  CLIENT_IMAGE_LATEST: $CI_REGISTRY_IMAGE/client:latest

  TARGET_URL: "https://chat.gyssteel.com"

stages:
  - build
  - deploy

# ==========================================================
# 1. BUILD STAGE
# ==========================================================

build_server:
  stage: build
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - server/**/*
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Server Image..."
    - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
    - docker push $SERVER_IMAGE
    - docker push $SERVER_IMAGE_LATEST

build_client:
  stage: build
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Client Image..."
    - docker build --no-cache --build-arg REACT_APP_API_URL=${REACT_APP_API_URL} -t $CLIENT_IMAGE -t $CLIENT_IMAGE_LATEST ./client
    - docker push $CLIENT_IMAGE
    - docker push $CLIENT_IMAGE_LATEST

# ==========================================================
# 2. DEPLOY STAGE
# ==========================================================

deploy_server:
  stage: deploy
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - server/**/*
  needs: ["build_server"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Server Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $SERVER_IMAGE_LATEST
    - docker compose up -d --no-deps --force-recreate server
    - docker image prune -f

deploy_client:
  stage: deploy
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*
  needs: ["build_client"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Client Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $CLIENT_IMAGE_LATEST
    - docker compose up -d --no-deps --force-recreate client
    - docker image prune -f

ganti chat
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

penyesuian bot
  client/public/assets/login.jpeg
  client/src/components/AdminDashboard.jsx
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client

update avatar bot
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

update bot for smartsheet
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update avatar
  client/src/components/AvatarPicker.jsx
  docker-compose.yml
Due: build_client, deploy_client

update english
  client/src/components/AdminDashboard.jsx
  client/src/components/ArtifactPanel.jsx
  client/src/components/AvatarPicker.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/components/Login.jsx
  docker-compose.yml
Due: build_client, deploy_client

tambahkan embedded iframe
  client/src/App.jsx
  client/src/components/AdminDashboard.jsx
  client/src/components/EmbedChat.jsx
  client/src/components/EmbedCodeModal.jsx
  server/routes/embed.js
  server/server.js
Due: build_server, build_client, deploy_server, deploy_client

tambahkan file embed
  server/routes/embed.js
Due: build_server, deploy_server

edit embeded
  server/server.js
Due: build_server, deploy_server

menyesuaikan log trail
  client/src/components/AdminDashboard.jsx
  server/Dockerfile
  server/models/AuditLog.js
  server/routes/admin.js
  server/routes/auth.js
  server/routes/chat.js
  server/services/audit.service.js
Due: build_server, build_client, deploy_server, deploy_client

update bot provider catalog
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

change embbedded
  client/src/components/EmbedChat.jsx
  client/src/components/EmbedCodeModal.jsx
  server/Dockerfile
  server/public/embed/EmbedChatWidget.js
Due: build_server, build_client, deploy_server, deploy_client

menambah integrasi onedrive
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
  server/services/ai-core.service.js
  server/services/onedrive.service.js
Due: build_server, build_client, deploy_server, deploy_client

update onedrive link
  server/services/onedrive.service.js
Due: build_server, deploy_server

update onedrive
  server/services/onedrive.service.js
Due: build_server, deploy_server

update link onedrive
  server/services/onedrive.service.js
Due: build_server, deploy_server

update bot PPT
  server/package.json
  server/routes/pptx.js
  server/server.js
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

kurang tanda koma
  server/package.json
Due: build_server, deploy_server

update full handle ppt
  server/routes/pptx.js
  server/server.js
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

penyesuaian PPT create
  server/routes/pptx.js
  server/server.js
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

update
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

check lagi
  server/services/ai-core.service.js
Due: build_server, deploy_server

update handle PPT
  server/services/pptx.service.js
Due: build_server, deploy_server

update puppetter
  server/Dockerfile
  server/package.json
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

update bot untuk PPT
  server/routes/pptx.js
  server/services/pptx.service.js
Due: build_server, deploy_server

update fungsi
  server/services/ai-core.service.js
Due: build_server, deploy_server

update ai core service untuk PPT
  server/services/ai-core.service.js
Due: build_server, deploy_server

update
  server/services/ai-core.service.js
Due: build_server, deploy_server

update logic for PPT
  server/services/ai-core.service.js
Due: build_server, deploy_server

update with grafik optimize
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

update BP Revamp Tracking
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update azure
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/routes/admin.js
  server/services/ai-core.service.js
  server/services/azure-search.service.js
Due: build_server, build_client, deploy_server, deploy_client

sesuaikan fungsi
  server/routes/admin.js
Due: build_server, deploy_server

change azure config
  server/models/Bot.js
  server/routes/admin.js
  server/services/ai-core.service.js
  server/services/azure-search.service.js
Due: build_server, deploy_server

update bot
  client/src/App.jsx
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  server/models/User.js
  server/routes/admin.js
  server/routes/auth.js
Due: build_server, build_client, deploy_server, deploy_client

update middleware
  server/middleware/auth.js
Due: build_server, deploy_server

update apikey
  server/routes/chat.js
Due: build_server, deploy_server

update generate apikey
  client/src/components/AdminDashboard.jsx
  server/middleware/auth.js
  server/models/Bot.js
  server/routes/admin.js
  server/routes/auth.js
  server/services/ai-provider.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

penyesuaian routes chat
  server/routes/chat.js
Due: build_server, deploy_server
