Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

[ci skip]
  client/deploy-client.yaml
Due: build_client, deploy_client

[ci skip]
  client/deployment/deploy-dev.yaml 
Due: build_client, deploy_client

fix(scheduler): pass bot capabilities to AI completion for web search
  server/services/wahaScheduler.js
Due: build_server, deploy_server

[ci skip]
  client/Dockerfile
Due: build_client, deploy_client

feat(pptx): implement true native pptx template engine with gys-theme
  server/services/pptx.service.js
  server/templates/gys-theme.pptx
Due: build_server, deploy_server

[ci skip]
  server/deploy-dev.yaml
Due: build_server, deploy_server

Edit .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update 2 files
  client/Dockerfile
  server/Dockerfile
Due: build_server, build_client, deploy_server, deploy_client

fix(pptx): correct slide layout mapping and modernize content design to gamma-style
  server/services/pptx.service.js
Due: build_server, deploy_server

fix(pptx): resolve ReferenceError for slideLayoutMap scoping
  server/services/pptx.service.js
Due: build_server, deploy_server

fix(pptx): restore slideLayoutMap.push logic to correctly map layouts
  server/services/pptx.service.js
Due: build_server, deploy_server

fix(pptx): make slide layout regex path-agnostic
  server/services/pptx.service.js
Due: build_server, deploy_server

fix(ai-core): save user chat message early to prevent loss on proxy timeout
  server/services/ai-core.service.js
Due: build_server, deploy_server

feat(ai-core): add support for generating Word, PDF, and Excel documents; fix PPTX subtitle overlap
  server/package-lock.json
  server/package.json
  server/services/ai-core.service.js
  server/services/doc.service.js
  server/services/excel.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

fix(ai-core): broaden keywords for document format detection (excel, word, pdf)
  server/services/ai-core.service.js
Due: build_server, deploy_server

feat(server): auto-cleanup generated documents after 14 days to save disk space
  server/server.js
  server/services/cleanup.service.js
Due: build_server, deploy_server

feat(ai-core): add GYS Steel Signal newsletter image generator with html-to-image technique
  server/services/ai-core.service.js
  server/services/newsletter.service.js
Due: build_server, deploy_server

feat(newsletter): integrate Indonesian localization, GYS logo, clickable link, and WAHA Scheduler support
  server/services/ai-core.service.js
  server/services/newsletter.service.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

feat(newsletter): english language, vector icons, image URL rendering, API route
  server/routes/newsletter.js
  server/server.js
  server/services/ai-core.service.js
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): logo path and remove double-rendered link/attachment
  server/services/ai-core.service.js
Due: build_server, deploy_server

fix: use correct public path for logo
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): correct logo path + fallback, replace all emoji with SVG, add clickable source links below image
  server/services/ai-core.service.js
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): auto-copy logo on startup, all SVG icons, clickable source links below image
  server/server.js
Due: build_server, deploy_server

fix(newsletter): use git-tracked server/assets logo, fix footer layout, absolute URLs in external API
  server/assets/gys-logo.webp
  server/routes/chat.js
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): remove white background from logo container so white-on-transparent logo is visible
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): remove Sources section, 3:4 ratio (900x1200), transparent logo bg
  server/services/newsletter.service.js
Due: build_server, deploy_server

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
