Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

[ci skip]
  server/services/onedrive.service.js
Due: build_server, deploy_server

[ci skip]
  server/services/wahaScheduler.js
Due: build_server, deploy_server

[ci skip]
  server/routes/webhook.js
  server/server.js
  server/services/onedrive-index.service.js
  server/services/onedrive.service.js
Due: build_server, deploy_server

[ci skip]
  server/scripts/clear-onedrive-cache.js
  server/services/ai-core.service.js
  server/services/onedrive.service.js
Due: build_server, deploy_server

[ci skip]
  server/Dockerfile
  server/docker-start.sh
Due: build_server, deploy_server

[ci skip]
  server/docker-start.sh
Due: build_server, deploy_server

[ci skip]
  server/routes/chat.js
  server/services/ai-core.service.js
Due: build_server, deploy_server

[ci skip]
  server/routes/pptx.js
  server/services/ai-core.service.js
Due: build_server, deploy_server

[ci skip]
  server/services/ai-core.service.js
Due: build_server, deploy_server

[ci skip]
  client/package.json
  client/tailwind.config.js
Due: build_client, deploy_client

Delete file tidak berguna
  server/check-files.js
  server/cleanup-reports.js
  server/clear-chats.js
  server/fetch-smartsheet.js
  server/services/dashboard-screenshot.service.js
  server/services/smartsheet-context.service.js
  server/services/smartsheet-json.service.js
  server/test-dashboard.js
  server/test-env-ldap.js
  server/test-puppeteer.js
  server/test-sheet-id.js
  test-file-access.sh
Due: build_server, deploy_server

Update style tailwind
  client/package.json
  client/tailwind.config.js
Due: build_client, deploy_client

Update untuk waha integrasi serta ppt after
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/routes/admin.js
  server/routes/waha.js
  server/server.js
  server/services/ai-core.service.js
  server/services/knowledge-base.service.js
  server/services/pptx.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

fix admin dashboard
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

Update ai core service
  server/services/ai-core.service.js
Due: build_server, deploy_server

Update PPT integration and waha integration [ci skip]
  server/package.json
  server/routes/admin.js
  server/routes/waha.js
  server/server.js
  server/services/ai-provider.service.js
  server/services/knowledge-base.service.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

overwrite dev with main baseline
  client/src/App.jsx
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  server/Dockerfile
  server/models/Bot.js
  server/package.json
  server/routes/admin.js
  server/routes/auth.js
  server/routes/chat.js
  server/routes/pptx.js
  server/routes/waha.js
  server/server.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/knowledge-base.service.js
  server/services/onedrive.service.js
  server/services/pptx.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

Update waha and PPT timeout [ci skip]
  server/docker-start.sh
  server/routes/admin.js
  server/routes/waha.js
  server/scripts/clear-onedrive-cache.js
  server/server.js
  server/services/ai-provider.service.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

update message from waha [ci skip]
  server/services/wahaScheduler.js
Due: build_server, deploy_server

Update terkait PPT , [ci skip]
  server/services/ai-core.service.js
  server/services/knowledge-base.service.js
Due: build_server, deploy_server

Update knowledge PPT [ci skip]
  server/services/ai-core.service.js
  server/services/image-selector.service.js
  server/services/pptx-template.service.js
Due: build_server, deploy_server

Update spam log waha , update token , and update knowldge PPT [ci skip]
  server/routes/chat.js
  server/services/ai-core.service.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

menyesuaikan template PPT [ci skip]
  server/services/pptx-template.service.js
Due: build_server, deploy_server

Update log token , update PPT handle [ci skip]
  client/src/components/AdminDashboard.jsx
  server/routes/chat.js
  server/services/pptx.service.js
Due: build_server, build_client, deploy_server, deploy_client

change to sebelumnya [ci skip]
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
  server/routes/chat.js
  server/routes/waha.js
  server/routes/webhook.js
  server/server.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/image-selector.service.js
  server/services/knowledge-base.service.js
  server/services/pptx-template.service.js
  server/services/pptx.service.js
  server/services/wahaScheduler.js
Due: build_server, build_client, deploy_server, deploy_client

change token , and PPT format [ci skip]
  server/routes/chat.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

Update chat.js [ci skip]
  server/routes/chat.js
Due: build_server, deploy_server

Update smart image detection PPT [ci skip]
  client/src/components/AdminDashboard.jsx
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/smart-image-selector.service.js
Due: build_server, build_client, deploy_server, deploy_client

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
