Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

feat: add Voice Typing (STT) and Audio Playback (TTS)
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

feat: conversational voice mode (STT+TTS) with language auto-detect
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/components/VoiceModal.jsx
  client/src/hooks/useVoice.js
Due: build_client, deploy_client

feat: add Auto-Read toggle - type normally, AI replies with speech
  client/src/components/Chat.jsx
Due: build_client, deploy_client

fix: resolve build error - handleSubmitFromVoice not defined
  client/src/components/Chat.jsx
Due: build_client, deploy_client

chore: update WelcomeScreen with voice features for release
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

feat: streaming responses (SSE) + message actions (copy/regenerate/edit)
  client/nginx/default.conf
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  server/routes/chat.js
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client

feat: update welcome screen with streaming & message actions features
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

fix: route Smartsheet bots through processMessage to preserve data integrity
  server/routes/chat.js
Due: build_server, deploy_server

fix: comprehensive streaming audit — add missing features parity with processMessage
  server/routes/chat.js
Due: build_server, deploy_server

fix: disable voice mode feature
  client/src/components/Chat.jsx
Due: build_client, deploy_client

feat: convert newsletter layout from portrait to landscape (1400px)
  server/services/newsletter.service.js
Due: build_server, deploy_server

Update PPT keywords and Newsletter layout
  server/routes/chat.js
  server/services/ai-core.service.js
  server/services/newsletter.service.js
Due: build_server, deploy_server

Fix newsletter footer position and header color
  server/services/newsletter.service.js
Due: build_server, deploy_server

Update frontend components
  client/src/components/Chat.jsx
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

Pass bot custom prompt to newsletter generator to enforce deduplication
  server/services/ai-core.service.js
Due: build_server, deploy_server

Implement global newsletter history tracking for deduplication
  server/services/ai-core.service.js
Due: build_server, deploy_server

fix: resolve jspdf-autotable type error
  client/src/components/TokenReportPDF.js
Due: build_client, deploy_client

fix: adjust Bot Usage chart height to prevent clipping
  client/src/components/TokenReportPDF.js
Due: build_client, deploy_client

chore: add shared CI pipeline [skip ci]
  .gitlab-ci.yml
Due: none

chore: remove package.json and package-lock.json from repository tracking
  .gitignore
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: build_server, build_client, deploy_server, deploy_client

chore: restore package.json and package-lock.json for reliable CI builds
  .gitignore
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: build_server, build_client, deploy_server, deploy_client

feat: Add L2 Production Report image generator
  server/services/ai-core.service.js
  server/services/openclaw.service.js
Due: build_server, deploy_server

chore: Restore previous .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci: run pipeline when .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

fix: ensure mongo starts before server in dev
  .gitlab-ci.yml
Due: none

fix: explicit global network name to prevent DNS issues between prod and dev
  docker-compose.dev.yml
  docker-compose.yml
Due: none

feat: redesign OpenClaw L2 Report to McKenzie style and add date extraction
  .gitlab-ci.yml
  server/services/ai-core.service.js
  server/services/openclaw.service.js
Due: build_server, deploy_server

fix: restore gitlab-ci.yml format and trigger client deploy
  .gitlab-ci.yml
Due: none

fix: correct template literal syntax in openclaw.service.js
  server/services/openclaw.service.js
Due: build_server, deploy_server

fix(nginx): ganti Kubernetes FQDN ke Docker service name 'server'
  client/nginx/default.conf
Due: build_client, deploy_client

fix(chat): add OpenClaw detection in SSE stream route
  server/routes/chat.js
Due: build_server, deploy_server

feat(openclaw): add logo and AI analysis to L2 report
  server/assets/openclaw-seeklogo.png
  server/assets/openclaw-seeklogo.svg
  server/services/ai-core.service.js
  server/services/openclaw.service.js
Due: build_server, deploy_server

feat(openclaw): update layout to 16:9 landscape with 2-column analytical report
  server/services/ai-core.service.js
  server/services/openclaw.service.js
Due: build_server, deploy_server

fix(openclaw): fix logo path resolution, add lucide icons, upgrade chart UI
  server/services/openclaw.service.js
Due: build_server, deploy_server

feat(openclaw): integrate ApexCharts for interactive and visually appealing graphs
  server/services/openclaw.service.js
Due: build_server, deploy_server

fix(openclaw): remove white background and CSS filters from logos to preserve original colors
  server/services/openclaw.service.js
Due: build_server, deploy_server

fix(openclaw): increase width to 1920px for true 16:9 full HD landscape layout
  server/services/openclaw.service.js
Due: build_server, deploy_server

feat(openclaw): enlarge logos and utilize header empty space for plant text
  server/services/openclaw.service.js
Due: build_server, deploy_server

feat: add Legal Contract Reviewer docx generation
  server/services/ai-core.service.js
  server/services/contract-review.service.js
Due: build_server, deploy_server

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
