Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

Update from dev
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/components/WahaConfigSection.jsx
  server/models/Bot.js
  server/routes/chat.js
  server/routes/pptx.js
  server/server.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/knowledge-base.service.js
  server/services/pptx.service.js
  server/services/smart-image-selector.service.js
  server/services/waha.service.js
Due: build_server, build_client, deploy_server, deploy_client

ci: add dev pipeline and docker-compose
  .gitlab-ci.yml
  docker-compose.dev.yml
Due: none

ci: trigger dev pipeline test
  server/.gitkeep
Due: build_server, deploy_server

ci: trigger client dev deploy
  client/.gitkeep
Due: build_client, deploy_client

ci: fix mongo network on deploy
  .gitlab-ci.yml
Due: none

ci: trigger full dev pipeline
  client/.gitkeep
  server/.gitkeep
Due: build_server, build_client, deploy_server, deploy_client

ci: add docker layer caching for faster builds
  .gitlab-ci.yml
Due: none

ci: test docker cache build
  server/server.js
Due: build_server, deploy_server

ci: test docker cache build
  client/src/App.js
  server/server.js
Due: build_server, build_client, deploy_server, deploy_client

ci: test docker cache build client
  client/src/App.js
Due: build_client, deploy_client

ci: restore App.js to correct encoding
  client/src/App.js
Due: build_client, deploy_client

ci: remove invalid App.js trigger file
  client/src/App.js
Due: build_client, deploy_client

ci: restore server.js encoding
  server/server.js
Due: build_server, deploy_server

feat: translate Indonesian text to English in AdminDashboard
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

ci: add release pipeline with version tag support
  .gitlab-ci.yml
Due: none

fix(ppt): restore conversation memory in PPT generation
  server/services/ai-core.service.js
Due: build_server, deploy_server

feat(PPT) : intregated
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 2
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 3
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 4
  server/services/pptx.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 5
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 6
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 7
  server/services/ai-core.service.js
Due: build_server, deploy_server

feat(PPT) : intregated part 8
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

update UI portal ai
  client/src/components/Chat.jsx
Due: build_client, deploy_client

update smartsheet bot
  server/services/ai-core.service.js
Due: build_server, deploy_server

update smartsheet bot part 2
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part 3
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

test build
  .gitlab-ci.yml
  server/Dockerfile
Due: build_server, deploy_server

test build
  .gitlab-ci.yml
Due: none

test development
  server/Dockerfile
Due: build_server, deploy_server

test build 5
  .gitlab-ci.yml
  server/Dockerfile
Due: build_server, deploy_server

push baru
  .gitlab-ci.yml
Due: none

baru
  server/Dockerfile
Due: build_server, deploy_server

coba 6
  .gitlab-ci.yml
  client/Dockerfile
Due: build_client, deploy_client

update smartsheet bot part 4
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, build_client, deploy_server, deploy_client

update smartsheet bot part 5
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
