Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

fix(baileys): syncFullHistory on new sessions + presence update for key distribution
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(baileys): add not-acceptable to immediate bail + GET /api/admin/baileys/groups diagnostic endpoint
  server/server.js
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(baileys): group session pre-warm on connect to resolve not-acceptable
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(baileys): add cachedGroupMetadata + fix not-acceptable retry classification
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(baileys): fix syncFullHistory race condition after QR scan restartRequired
  server/services/baileys.service.js
Due: build_server, deploy_server

feat: upgrade Baileys v6.7.9 → v7.0.0-rc.9 for LID group messaging fix
  server/package.json
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(docker): force git HTTPS for Baileys v7 libsignal dependency
  server/Dockerfile
Due: build_server, deploy_server

fix: PPT subtitle alignment + newsletter steel texture + OpenClaw logo
  server/services/newsletter.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

fix: PPT title alignment + newsletter steel texture image + SVG claw icon
  server/assets/steel-texture.png
  server/services/newsletter.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

fix: newsletter steel bars background image + improved claw icon
  server/assets/steel-texture.png
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix: newsletter background — steel factory with H-beams
  server/assets/steel-texture.png
Due: build_server, deploy_server

fix: PPT subtitle overlap and vertical alignment
  server/services/pptx.service.js
Due: build_server, deploy_server

fix: correct prod SERVER_PUBLIC_URL to chat.gyssteel.com
  docker-compose.yml
Due: none

fix: remove hardcoded IP fallback from wahaScheduler
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix: PPT brand colors + enforce opening/closing slides
  server/services/pptx.service.js
Due: build_server, deploy_server

feat: dark mode toggle for all pages + PPT brand color fix
  client/src/App.jsx
  client/src/components/AdminDashboard.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/components/DarkModeToggle.jsx
  client/src/components/Login.jsx
  client/src/hooks/useDarkMode.js
  client/src/index.css
  client/tailwind.config.js
Due: build_client, deploy_client

fix(ui): use valid tailwind classes for dark mode toggle and sidebar icons
  client/src/components/Chat.jsx
  client/src/components/DarkModeToggle.jsx
Due: build_client, deploy_client

fix(ui): adjust font and button colors for dark mode visibility
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

fix(ui): adjust admin dashboard bot modal colors for dark mode
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

fix(ui): adjust admin dashboard bot modal capabilities text color for dark mode
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

fix(wa): only respond in groups when bot is @mentioned via mentionedJid
  server/routes/waha.js
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: enforce bot to only reply when tagged in groups
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/routes/admin.js
  server/routes/waha.js
Due: build_server, build_client, deploy_server, deploy_client

style: fix dark mode colors for integrations toggles in Admin Dashboard
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

change admindashboard ui darkmode
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

feat: add Capacitor APK build support (Docker-based, no local Android Studio needed)
  .gitignore
  build-apk.bat
  build-apk.sh
  client/Dockerfile.apk
  client/capacitor.config.json
  client/package.json
  client/src/App.jsx
  server/server.js
Due: build_server, build_client, deploy_server, deploy_client

fix: change APK build to assembleDebug to avoid NO_CERTIFICATES install error
  client/Dockerfile.apk
Due: build_client, deploy_client

chore: fix JSONArgsRecommended warning in Dockerfile CMD
  client/Dockerfile.apk
Due: build_client, deploy_client

fix: resolve avatar URLs in Capacitor and fix table responsiveness on mobile
  client/src/components/BotAvatar.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

feat: add automatic icon generation from GYS logo and fix gitignore for node_modules
  .gitignore
  client/Dockerfile.apk
Due: build_client, deploy_client

fix: force webSearch=true for OpenAI newsletter generation and add client .dockerignore
  client/.dockerignore
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

debug: add detailed web search logging to diagnose search not triggering
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

fix: convert Mongoose subdocument to plain object before reading capabilities - fixes webSearch always false
  server/services/ai-core.service.js
Due: build_server, deploy_server

feat: add drag-and-drop file upload & welcome screen with feature updates
  client/src/components/Chat.jsx
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

fix: welcome screen English + login-only, session 3-day TTL, Anthropic timeout 180s
  client/src/App.jsx
  client/src/components/Login.jsx
  client/src/components/WelcomeScreen.jsx
  server/server.js
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client

fix: reduce Baileys QR log spam when WhatsApp is not linked
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: increase default API timeout to 180s for all providers
  server/services/ai-provider.service.js
Due: build_server, deploy_server

fix: welcome screen now reliably shows after every login
  client/src/App.jsx
  client/src/components/Chat.jsx
  client/src/components/Login.jsx
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

fix: increase all timeout layers for PPT generation (nginx + server)
  client/nginx/default.conf
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

feat: working drag-and-drop + Ctrl+V paste, welcome badge colors
  client/src/components/Chat.jsx
  client/src/components/WelcomeScreen.jsx
Due: build_client, deploy_client

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
