Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

.gitlab-ci.yml:

variables:
  # --- KONFIGURASI UMUM ---
  GIT_CLONE_PATH: '$CI_BUILDS_DIR/$CI_CONCURRENT_ID/project-portal-ai'
  GIT_CLEAN_FLAGS: -ffdx -e data/
  GIT_DEPTH: "0"

  # --- DOCKER IMAGES ---
  SERVER_IMAGE: $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHORT_SHA
  SERVER_IMAGE_LATEST: $CI_REGISTRY_IMAGE/server:latest
  CLIENT_IMAGE: $CI_REGISTRY_IMAGE/client:$CI_COMMIT_SHORT_SHA
  CLIENT_IMAGE_LATEST: $CI_REGISTRY_IMAGE/client:latest

  TARGET_URL: "https://chat.gyssteel.com"

stages:
  - build
  - deploy

# ==========================================================
# 1. BUILD STAGE
# ==========================================================

build_server:
  stage: build
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - server/**/*
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Server Image..."
    - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
    - docker push $SERVER_IMAGE
    - docker push $SERVER_IMAGE_LATEST

build_client:
  stage: build
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Client Image..."
    - docker build --no-cache --build-arg REACT_APP_API_URL=${REACT_APP_API_URL} -t $CLIENT_IMAGE -t $CLIENT_IMAGE_LATEST ./client
    - docker push $CLIENT_IMAGE
    - docker push $CLIENT_IMAGE_LATEST

# ==========================================================
# 2. DEPLOY STAGE
# ==========================================================

deploy_server:
  stage: deploy
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - server/**/*
  needs: ["build_server"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Server Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $SERVER_IMAGE_LATEST
    - docker compose up -d --no-deps --force-recreate server
    - docker image prune -f

deploy_client:
  stage: deploy
  tags:
    - portal-ai
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - client/**/*
  needs: ["build_client"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Client Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $CLIENT_IMAGE_LATEST
    - docker compose up -d --no-deps --force-recreate client
    - docker image prune -f

update smartsheet bot part 5
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot and token usage part 1
  client/src/components/AdminDashboard.jsx
  server/models/Chat.js
  server/routes/admin.js
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, build_client, deploy_server, deploy_client

update search logs
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

fix: enable pipeline for main branch
  .gitlab-ci.yml
Due: none

update web search
  server/package.json
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

theme PPT update
  server/package.json
  server/services/ai-core.service.js
  server/services/pptx.service.js
Due: build_server, deploy_server

theme PPT update part 2
  server/services/pptx.service.js
Due: build_server, deploy_server

theme PPT update part 3
  server/services/pptx.service.js
Due: build_server, deploy_server

theme PPT update part 4 and update baca images
  client/src/components/Chat.jsx
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/pptx.service.js
Due: build_server, build_client, deploy_server, deploy_client

update baca images
  server/services/ai-core.service.js
Due: build_server, deploy_server

update token usage , with usd cost
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

update token usage , with usd cost part 2
  client/src/components/AdminDashboard.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

update code block
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

update code block and update images analyzer
  client/src/components/ArtifactPanel.jsx
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

update code block and update images analyzer part 2
  server/services/ai-core.service.js
Due: build_server, deploy_server

update code block and update images analyzer part 3
  server/services/ai-core.service.js
Due: build_server, deploy_server

update code block and update images analyzer part 4
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
Due: build_server, deploy_server

update code block and update images analyzer and PPT analyzer
  server/services/ai-core.service.js
Due: build_server, deploy_server

update sheetID smartsheet
  server/services/ai-core.service.js
Due: build_server, deploy_server

update vulnerability
  server/package-lock.json
  server/package.json
  server/services/ai-core.service.js
  server/services/knowledge-base.service.js
  server/services/onedrive.service.js
Due: build_server, deploy_server

update package axios
  server/package.json
Due: build_server, deploy_server

update smartsheet bot
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part2
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part3
  server/services/ai-core.service.js
Due: build_server, deploy_server

update smartsheet bot part4
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part5
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part6
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part7
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part8
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part9
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot part10
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

change to claude
  client/src/components/AdminDashboard.jsx
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client

change to claudepart2
  docker-compose.yml
  server/services/ai-core.service.js
Due: build_server, deploy_server

change to claudepart3
  server/services/ai-core.service.js
Due: build_server, deploy_server

Update 2 files
  .gitlab-ci.yml
  client/deployment/deploy-dev.yaml 
Due: build_client, deploy_client

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none
