Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

build_server:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Server Image..."
  - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
  - docker push $SERVER_IMAGE
  ...

build_client:
  stage: build
  tags:
  - portal-ai
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸ—ï¸ Building Client Image..."
  ...

deploy_server:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_server
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Server Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $SERVER_IMAGE_LATEST
  ...

deploy_client:
  stage: deploy
  tags:
  - portal-ai
  needs:
  - build_client
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - echo "ðŸš€ Updating Client Service..."
  - echo "$DOT_ENV_FILE" > .env
  - docker pull $CLIENT_IMAGE_LATEST
  ...

feat(newsletter): restore Sources section (conditional on sourceLinks), green border style
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): rebrand from GYS Portal AI to GYS Open Claw
  server/services/newsletter.service.js
Due: build_server, deploy_server

fix(newsletter): enable web search, inject today date, forbid invented URLs
  server/services/ai-core.service.js
Due: build_server, deploy_server

fix(newsletter): fix syntax error - JSON schema was floating outside string literal
  server/services/ai-core.service.js
Due: build_server, deploy_server

fix(waha): fallback to text+URL when sendImage fails (WAHA free WEBJS limitation)
  server/services/wahaScheduler.js
Due: build_server, deploy_server

feat(waha): 3-tier image send strategy: URL -> base64 -> text fallback
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix(scheduler): correct server base URL for newsletter image links
  docker-compose.yml
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix(waha): translate all scheduler messages to English
  server/services/wahaScheduler.js
Due: build_server, deploy_server

feat(waha): sendToWaha detects newsletter image URL and sends clean link to WhatsApp
  server/routes/chat.js
Due: build_server, deploy_server

Revert "feat(waha): sendToWaha detects newsletter image URL and sends clean link to WhatsApp"
  server/routes/chat.js
Due: build_server, deploy_server

fix(dev): add SERVER_PUBLIC_URL to docker-compose.dev.yml for correct newsletter image URLs
  docker-compose.dev.yml
Due: none

fix: trigger pipeline - SERVER_PUBLIC_URL now set in docker-compose.dev.yml and docker-compose.yml
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix(critical): restore wahaScheduler.js - remove corrupted null bytes from last line
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix(external): use SERVER_PUBLIC_URL for image URLs instead of req.get('host') which loses port behind nginx
  server/routes/chat.js
Due: build_server, deploy_server

feat(baileys): replace WAHA with Baileys for WhatsApp send+receive - add baileys.service.js, update scheduler/chat/waha routes, add QR admin endpoint
  check-rels.mjs
  server/package.json
  server/patch-aicore-newsletter.mjs
  server/routes/chat.js
  server/routes/waha.js
  server/server.js
  server/services/baileys.service.js
  server/services/wahaScheduler.js
Due: build_server, deploy_server

fix(docker): add python3/make/g++ to Dockerfile for Baileys native deps, pin baileys 6.7.9, use --legacy-peer-deps
  server/Dockerfile
  server/package.json
Due: build_server, deploy_server

fix(docker): add git to Alpine - required by Baileys git-url dependency
  server/Dockerfile
Due: build_server, deploy_server

fix(server): move Baileys admin endpoints before 404 handler - Express routes must be registered before catch-all middleware
  server/server.js
Due: build_server, deploy_server

fix(baileys): handle ESM/CJS interop - resolve makeWASocket from module exports if named import is not a function
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(chat): correct misleading WAHA success log - check BaileysService.sendText return value
  server/routes/chat.js
Due: build_server, deploy_server

Update 2 files
  client/Dockerfile
  server/deploy-dev.yaml
Due: build_server, build_client, deploy_server, deploy_client

chore: update host server nginx
  client/nginx/default.conf
Due: build_client, deploy_client

chore : update service namespace coredns
  client/nginx/default.conf
Due: build_client, deploy_client

chore : update mongo
  server/deploy-dev.yaml
Due: build_server, deploy_server

chore : resource name
  server/deploy-dev.yaml
Due: build_server, deploy_server

fix: update deploy config [skip-build]
  .gitlab-ci.yml
  server/deploy-dev.yaml
Due: build_server, deploy_server

fix: update deploy config
  .gitlab-ci.yml
Due: none

fix: update deploy config
  docker-compose.dev.yml
  server/deploy-dev.yaml
Due: build_server, deploy_server

fix: update deploy config
  .gitlab-ci.yml
  client/Dockerfile
  client/nginx/default.conf
  server/deploy-dev.yaml
Due: build_server, build_client, deploy_server, deploy_client

fix: port listening
  client/deploy-client.yaml
Due: build_client, deploy_client

fix: api path
  client/nginx/default.conf
Due: build_client, deploy_client

fix: fetch group metadata before sending via baileys
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: resolve No sessions error for group sends via baileys
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: remove proto named import, use plain object in getMessage callback
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: skip directories in cleanup service to prevent EISDIR error
  server/services/cleanup.service.js
Due: build_server, deploy_server

fix: replace short retry with long-running sendWithRetry for No sessions (20x30s)
  server/services/baileys.service.js
Due: build_server, deploy_server

fix: Baileys forbidden immediate bail + external API no WA forward by default
  server/routes/chat.js
  server/services/baileys.service.js
Due: build_server, deploy_server

fix(baileys): use assertSessions() for persistent No sessions error in groups
  server/services/baileys.service.js
Due: build_server, deploy_server

Path conditions:
  build_server: any of: server/**/*
  build_client: any of: client/**/*
  deploy_server: any of: server/**/*
  deploy_client: any of: client/**/*
