Repository NajibF24/chat-new: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_client, deploy_server, deploy_client

.gitlab-ci.yml:

variables:
  # --- KONFIGURASI UMUM ---
  GIT_CLONE_PATH: '$CI_BUILDS_DIR/$CI_CONCURRENT_ID/project-portal-ai'
  GIT_CLEAN_FLAGS: -ffdx -e data/
  GIT_DEPTH: "0"

  # --- DOCKER IMAGES ---
  SERVER_IMAGE: $CI_REGISTRY_IMAGE/server:$CI_COMMIT_SHORT_SHA
  SERVER_IMAGE_LATEST: $CI_REGISTRY_IMAGE/server:latest
  CLIENT_IMAGE: $CI_REGISTRY_IMAGE/client:$CI_COMMIT_SHORT_SHA
  CLIENT_IMAGE_LATEST: $CI_REGISTRY_IMAGE/client:latest

  TARGET_URL: "https://chat.gyssteel.com"

stages:
  - build
  - deploy

# ==========================================================
# 1. BUILD STAGE (Dipisah antara Server & Client)
# ==========================================================

build_server:
  stage: build
  tags:
    - portal-ai
  only:
    - main
  rules:
    - changes:
        - server/**/* # Hanya jalan jika ada perubahan di folder server
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Server Image..."
    - docker build -t $SERVER_IMAGE -t $SERVER_IMAGE_LATEST ./server
    - docker push $SERVER_IMAGE
    - docker push $SERVER_IMAGE_LATEST

build_client:
  stage: build
  tags:
    - portal-ai
  only:
    - main
  rules:
    - changes:
        - client/**/* # Hanya jalan jika ada perubahan di folder client
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸ—ï¸ Building Client Image..."
    - docker build --no-cache --build-arg REACT_APP_API_URL=${REACT_APP_API_URL} -t $CLIENT_IMAGE -t $CLIENT_IMAGE_LATEST ./client
    - docker push $CLIENT_IMAGE
    - docker push $CLIENT_IMAGE_LATEST

# ==========================================================
# 2. DEPLOY STAGE (Dipisah agar tidak mengganggu satu sama lain)
# ==========================================================

deploy_server:
  stage: deploy
  tags:
    - portal-ai
  only:
    - main
  rules:
    - changes:
        - server/**/*
  needs: ["build_server"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Server Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $SERVER_IMAGE_LATEST
    # Hanya restart service server tanpa mematikan yang lain
    - docker compose up -d --no-deps --force-recreate server
    - docker image prune -f

deploy_client:
  stage: deploy
  tags:
    - portal-ai
  only:
    - main
  rules:
    - changes:
        - client/**/*
  needs: ["build_client"]
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - echo "ðŸš€ Updating Client Service..."
    - echo "$DOT_ENV_FILE" > .env
    - docker pull $CLIENT_IMAGE_LATEST
    # Hanya restart service client tanpa mematikan yang lain
    - docker compose up -d --no-deps --force-recreate client
    - docker image prune -f

ganti UI chat message
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

memisahkan build
  .gitlab-ci.yml
Due: none

change show file
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

perbaikan glitch
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/index.css
Due: build_client, deploy_client

update service file
  server/services/ai-core.service.js
  server/services/file-manager.service.js
Due: build_server, deploy_server

perbaikan pada attach file
  client/nginx/default.conf
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  client/src/index.css
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

sesuaikan default.conf
  client/nginx/default.conf
Due: build_client, deploy_client

memunculkan kembali tombol admindashboard
  client/src/components/Chat.jsx
Due: build_client, deploy_client

perbaikan untuk handle image
  client/src/components/ChatMessage.jsx
  server/server.js
  server/services/image.service.js
Due: build_server, build_client, deploy_server, deploy_client

change
  client/nginx/default.conf
  client/src/components/ChatMessage.jsx
  server/server.js
Due: build_server, build_client, deploy_server, deploy_client

change
  server/models/Bot.js
  server/routes/admin.js
  server/services/ai-core.service.js
Due: build_server, deploy_server

update bot
  server/services/ai-core.service.js
Due: build_server, deploy_server

penyesuaiian admindashboard
  client/src/components/AdminDashboard.jsx
  server/services/ai-core.service.js
Due: build_server, build_client, deploy_server, deploy_client

handle ai
  server/services/ai-core.service.js
Due: build_server, deploy_server

test
  server/services/ai-core.service.js
Due: build_server, deploy_server

Update server/services/ai-core.service.js
  server/services/ai-core.service.js
Due: build_server, deploy_server

testing
  server/services/ai-core.service.js
Due: build_server, deploy_server

perbaikan di smartsheet
  server/services/ai-core.service.js
Due: build_server, deploy_server

update bot tracker
  server/services/ai-core.service.js
Due: build_server, deploy_server

tambah avatar
  client/src/components/AdminDashboard.jsx
  client/src/components/AvatarPicker.jsx
  client/src/components/BotAvatar.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  server/models/Bot.js
  server/routes/admin.js
  server/server.js
  server/services/ai-core.service.js
  server/services/smartsheet-context.service.js
Due: build_server, build_client, deploy_server, deploy_client

tambah avatar
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

membenarkan bagian avatar
  client/src/components/AvatarPicker.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

update smartsheet bot
  server/services/ai-core.service.js
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

update smartsheet bot
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

new api smartsheet
  server/services/smartsheet-live.service.js
Due: build_server, deploy_server

perbaikan bot knowledge
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/routes/admin.js
  server/services/ai-core.service.js
  server/services/ai-provider.service.js
  server/services/knowledge-base.service.js
Due: build_server, build_client, deploy_server, deploy_client

update tambahan bot
  client/src/components/AdminDashboard.jsx
  server/models/Bot.js
  server/package.json
  server/routes/admin.js
  server/services/ai-provider.service.js
  server/services/knowledge-base.service.js
Due: build_server, build_client, deploy_server, deploy_client

menyesuaikan chat panel
  client/src/components/ArtifactPanel.jsx
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
Due: build_client, deploy_client

update UI chat dan maksimal file knowledge
  client/src/components/Chat.jsx
  client/src/components/ChatMessage.jsx
  server/routes/admin.js
Due: build_server, build_client, deploy_server, deploy_client

update chat style
  client/src/components/Chat.jsx
Due: build_client, deploy_client

ganti limit file
  client/nginx/default.conf
  client/src/components/ChatMessage.jsx
  server/server.js
Due: build_server, build_client, deploy_server, deploy_client

penyesuaian login menggunakan user maupun email
  client/src/components/ChatMessage.jsx
  client/src/components/Login.jsx
  server/models/User.js
  server/routes/admin.js
  server/routes/auth.js
  server/services/smartsheet-live.service.js
Due: build_server, build_client, deploy_server, deploy_client

penyesuaian dashboard create bot
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

penyesuaian dashboard
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

update bot openai
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

penyesuaian user login
  server/routes/auth.js
Due: build_server, deploy_server

update dashboard
  client/src/components/AdminDashboard.jsx
Due: build_client, deploy_client

update bot openai
  server/services/ai-provider.service.js
Due: build_server, deploy_server

menyesuaikan gpt 5
  client/src/components/AdminDashboard.jsx
  server/services/ai-provider.service.js
Due: build_server, build_client, deploy_server, deploy_client
